

ion-item {
  font-size: 0.8rem;

  ion-thumbnail {
    height: 14vh;
    width: 25vw;
    padding: 0.9vh 0;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }

  h4 {
    font-size: 1rem;
  }
}

.distance {
  font-size: 0.8rem;
  padding-top: 0.2vh;
  color: var(--ion-color-tertiary);
}
.pStyle {
  padding-bottom: 0.5vh;
  font-size: 0.8rem !important;
}
