<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-label>MANAGE ACCOUNTS</ion-label>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center alignSpinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <app-empty-screen *ngIf="!isLoading && addresses.length === 0" [model]="model"></app-empty-screen>
  <ion-list *ngIf="!isLoading && addresses.length > 0">
    <ion-item-divider>
      SAVED ADDRESSES
    </ion-item-divider>
    <ion-item lines="full" class="ion-no-margin" *ngFor="let address of addresses">
      <ion-icon [name]="getIcon(address)" slot="start"></ion-icon>
      <ion-label>
        <ion-label class="ion-padding-bottom"><h4>{{address.title}}</h4></ion-label>
        <ion-text class="ion-text-justify marin">
          <p class="ion-text-wrap">{{address.address}}, {{address.zip}} {{address.city}}</p>
        </ion-text>
        <ion-row>
          <ion-button fill="clear" color="primary" (click)="editAddress(address)">EDIT</ion-button>
          <ion-button fill="clear" color="primary" (click)="deleteAddress(address)">DELETE</ion-button>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/', 'tabs', 'address', 'edit-address']" fill="outline" expand="block" color="primary" (click)="addAddress()" class="ion-margin-horizontal">ADD
      NEW ADDRESS
    </ion-button>
  </ion-toolbar>
</ion-footer>
